{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    {% block css %}
    {% endblock %}
    <link href="{% static 'core/css/environment-flag.css' %}" rel="stylesheet" type="text/css" />
</head>

<body class="{% block style %}{% endblock %}">
    {% block content %}
    {% endblock %}

    {% block js %}
    {% endblock %}
</body>

</html>